In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
my_series = pd.Series([10, 27, 32, 41, 5])

In [4]:
my_series.size

5

In [5]:
my_series.ndim

1

In [6]:
my_series.head(2)

0    10
1    27
dtype: int64

In [7]:
my_series.tail(2)

3    41
4     5
dtype: int64

In [8]:
my_series[2]

32

In [ ]:
my_series[1:4]

1    27
2    32
3    41
dtype: int64

In [9]:
numbers= [[1, 2, 39, 67, 90], [1, 2, 39, 67, 90]]

In [10]:
df = pd.DataFrame(numbers)
df

   0  1   2   3   4
0  1  2  39  67  90
1  1  2  39  67  90

In [11]:
arr= np.array([[1, 2, 39, 67, 90],
                 [8, 12, 45, 12, 8],
                 [2, 8, 34, 90, 102]])

In [14]:
df = pd.DataFrame(arr)
df

   0   1   2   3    4
0  1   2  39  67   90
1  8  12  45  12    8
2  2   8  34  90  102

In [13]:
df.describe()

              0          1          2          3           4
count  3.000000   3.000000   3.000000   3.000000    3.000000
mean   3.666667   7.333333  39.333333  56.333333   66.666667
std    3.785939   5.033223   5.507571  40.079088   51.159880
min    1.000000   2.000000  34.000000  12.000000    8.000000
25%    1.500000   5.000000  36.500000  39.500000   49.000000
50%    2.000000   8.000000  39.000000  67.000000   90.000000
75%    5.000000  10.000000  42.000000  78.500000   96.000000
max    8.000000  12.000000  45.000000  90.000000  102.000000

In [15]:
df.describe().T

   count       mean        std   min   25%   50%   75%    max
0    3.0   3.666667   3.785939   1.0   1.5   2.0   5.0    8.0
1    3.0   7.333333   5.033223   2.0   5.0   8.0  10.0   12.0
2    3.0  39.333333   5.507571  34.0  36.5  39.0  42.0   45.0
3    3.0  56.333333  40.079088  12.0  39.5  67.0  78.5   90.0
4    3.0  66.666667  51.159880   8.0  49.0  90.0  96.0  102.0

In [16]:
dataframe_csv = pd.read_csv("file.csv",)
dataframe_txt = pd.read_csv("file.txt")
dataframe_xlsx = pd.read_xlsx("file.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'file.csv'